name: Flet App Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write 
  id-token: write 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'
        
    - name: Install Flet
      run: pip install "flet==0.25.2"
      
    - name: Build
      run: flet build web --base /nazwa-repo/ --web-renderer html
      
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./dist 
        
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
